In [23]:
import pandas as pd
import re
import numpy as np
import urllib
import sqlalchemy as sa

In [31]:
def datain_db():
    azure_dev = {
        'server' :'XXXX-servidor de base de datos analitycs',
        'database' :'xxxx',
        'username' : 'xxxxx',
        'password' : 'xxxxxxxxxxxxxxxxxxxx'
    }
    return azure_dev

def create_engine_azure(s,b,u,p):
    d='ODBC Driver 17 for SQL Server'
    connection_string = f'DRIVER={{{d}}};SERVER={s};DATABASE={b};UID={u};PWD={p};Trusted_Connection=no;UseFMTONLY=yes;'
    connection_uri = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(connection_string)}"
    #print(connection_uri)
    return sa.create_engine(connection_uri, fast_executemany=True, encoding='utf8') 

def type_estados():
    azure_dev = datain_db()
    db = create_engine_azure(azure_dev['server'],azure_dev['database'],azure_dev['username'],azure_dev['password'])

    hds_estados = pd.read_sql_query("""
        select trim(id_maedet) as id_maedet, trim(maedetdes) as maedetdes, trim(maedetcod) as maedetcod  from HOM.TbEstados
        where maecabcod = 'INVEST'
    """,db)
    
    hdr_estados = pd.read_sql_query("""
        select trim(id_maedet) as id_maedet, trim(maedetdes) as maedetdes, trim(maedetcod) as maedetcod  from HOM.TbEstados
        where maecabcod like 'HOMEST'
    """,db)
    
    return {'hds_estados':hds_estados,'hdr_estados':hdr_estados}

In [122]:
type_estados()['hdr_estados']

        id_maedet                          maedetdes maedetcod
0    002-HOMEST-1                  VISITA CONFIRMADA         1
1   002-HOMEST-10                         EN PROCESO        10
2   002-HOMEST-11                 EVALUACION ANULADA        11
3   002-HOMEST-12                     VISITA ANULADA        12
4   002-HOMEST-13                    FECHA PROPUESTA        13
5   002-HOMEST-14                      POR CONFIRMAR        14
6   002-HOMEST-15                   VISITA CANCELADA        15
7   002-HOMEST-16                           STAND BY        16
8   002-HOMEST-17  EVALUACION ANULADA POR ANTIGÜEDAD        17
9   002-HOMEST-18                        EN CONSULTA        18
10  002-HOMEST-19                          NO PROVEE        19
11   002-HOMEST-2                         EN INFORME         2
12  002-HOMEST-20        EN CONSULTA - CONVALIDACION        20
13  002-HOMEST-21                   NO ACEPTA VISITA        21
14   002-HOMEST-3                        EN REVISIÓN         3
15   002-HOMEST-4                       EN IMPRESIÓN         4
16   002-HOMEST-5                          ENTREGADO         5
17   002-HOMEST-6                      VISITA TRUNCA         6
18   002-HOMEST-7             NO PRESENTÓ DOCUMENTOS         7
19   002-HOMEST-8                  OPERACIÓN ANULADA         8
20   002-HOMEST-9                  VISITA SUSPENDIDA         9

In [136]:
df_hds = pd.read_excel("C:\\Users\\edwin_paucar\\Downloads\\final_data_today_hds.xls",header=0)
df_hds.head(5)

,Id,SubClasificacion,Num_Proyecto,Asunto,RUC,Proveedor,Contacto_Comercial,Tipo_Evaluacion,Contacto_Proceso,Movil,EMail,Telefono,Ciudad,Fecha_Envio_Invitacion,Estado,Observacion,Fecha_Ultimo_Seguimiento
0,1,NaN,245110,HOMOLOGACION DE PROVEEDORES CONTRATISTAS 2019 ...,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,NaN,NaN,JORGE ARELA PEREZ,NaN,gerencia@ayc.pe,959220570,CUSCO - ESPINAR - ESPINAR,01/07/2019,INICIÓ EL PROCESO,REEVALUACIÓN,01/11/2019
1,2,NaN,245169,HOMOLOGACION REPARACION DE COMPONENTES _ PROVE...,'20100022142,ABB S.A.,YVAN PONCE,NaN,EDWIN ZORRILLA,NaN,antapaccay@pe.abb.com; yvan.ponce@pe.abb.com;,4155100 anexo 1227,NaN,05/06/2019,OTROS,proveedor cuenta con certificacion ISO 9001-20...,22/10/2019
2,3,NaN,245109,PROCESO DE PRE CALIFICACION - COMPAÑIA MINERA ...,'20456335943,ABM ELECTRIC S.R.L.,NaN,NaN,MILTON QUILLE CAYLLAHUI,943994044,abmelectricsrl@abmelectric.com.pe,054-447908,AREQUIPA - AREQUIPA - CERRO COLORADO,06/02/2019,INICIÓ EL PROCESO,PRIMERA EVALUACIÓN,06/02/2019
3,4,NaN,245108,PROCESO DE HOMOLOGACION - COMPAÑIA MINERA ANTA...,'20505830319,ACCUAPRODUCT S.A.C.,NaN,NaN,"GUADALUPE DAMIÁN SIFUENTES,",992404470,ssoma.accuaproduct@hotmail.com,NaN,LIMA - LIMA - ATE,12/03/2019,INICIÓ EL PROCESO,LINEA ADICIONAL,15/03/2019
4,5,NaN,245267,PROCESO DE HOMOLOGACION - COMPAÑIA MINERA ANTA...,'20505830319,ACCUAPRODUCT S.A.C.,NaN,NaN,DIANA,NaN,ssoma.accuaproduct@hotmail.com,964480169,NaN,28/04/2020,NO HA DECIDIDO AÚN,Srta. Diana se encuentra en reunion se envia e...,29/04/2020

In [36]:
data_hds_copy = df_hdr[['Num_Proyecto','RUC','Proveedor','Estado']].copy()
data_hds_copy.head()

,Num_Proyecto,RUC,Proveedor,Estado
0,245305,'20529063777,"""CORPORACION MINERA FRANCAR SOCIEDAD COMERCIAL...",INICIÓ EL PROCESO
1,245215,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",INICIÓ EL PROCESO
2,245306,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",NO HA DECIDIDO AÚN
3,245091,'20267540544,3 + 2 SERVICIOS S.A.,INVITACION ANULADA POR ANTIGÜEDAD
4,245215,'20100027021,45628912,NO VA A RENOVAR

In [125]:
def dict_std2num(df_types):
    maedetdes = df_types['maedetdes'].to_list()
    maedetcod = df_types['maedetcod'].to_list()
    dic = dict(zip(maedetdes,maedetcod))
    return dic
    
dict_std2num(type_estados()['hdr_estados'])

{'VISITA CONFIRMADA': '1',
 'EN PROCESO': '10',
 'EVALUACION ANULADA': '11',
 'VISITA ANULADA': '12',
 'FECHA PROPUESTA': '13',
 'POR CONFIRMAR': '14',
 'VISITA CANCELADA': '15',
 'STAND BY': '16',
 'EVALUACION ANULADA POR ANTIGÜEDAD': '17',
 'EN CONSULTA': '18',
 'NO PROVEE': '19',
 'EN INFORME': '2',
 'EN CONSULTA - CONVALIDACION': '20',
 'NO ACEPTA VISITA': '21',
 'EN REVISIÓN': '3',
 'EN IMPRESIÓN': '4',
 'ENTREGADO': '5',
 'VISITA TRUNCA': '6',
 'NO PRESENTÓ DOCUMENTOS': '7',
 'OPERACIÓN ANULADA': '8',
 'VISITA SUSPENDIDA': '9'}

In [124]:
def dict_std2cod(df_types):
    maedetdes = df_types['maedetdes'].to_list()    
    id_maedet = df_types['id_maedet'].to_list()
    dic = dict(zip(maedetdes,id_maedet))
    return dic

dict_std2cod(type_estados()['hdr_estados'])

{'VISITA CONFIRMADA': '002-HOMEST-1',
 'EN PROCESO': '002-HOMEST-10',
 'EVALUACION ANULADA': '002-HOMEST-11',
 'VISITA ANULADA': '002-HOMEST-12',
 'FECHA PROPUESTA': '002-HOMEST-13',
 'POR CONFIRMAR': '002-HOMEST-14',
 'VISITA CANCELADA': '002-HOMEST-15',
 'STAND BY': '002-HOMEST-16',
 'EVALUACION ANULADA POR ANTIGÜEDAD': '002-HOMEST-17',
 'EN CONSULTA': '002-HOMEST-18',
 'NO PROVEE': '002-HOMEST-19',
 'EN INFORME': '002-HOMEST-2',
 'EN CONSULTA - CONVALIDACION': '002-HOMEST-20',
 'NO ACEPTA VISITA': '002-HOMEST-21',
 'EN REVISIÓN': '002-HOMEST-3',
 'EN IMPRESIÓN': '002-HOMEST-4',
 'ENTREGADO': '002-HOMEST-5',
 'VISITA TRUNCA': '002-HOMEST-6',
 'NO PRESENTÓ DOCUMENTOS': '002-HOMEST-7',
 'OPERACIÓN ANULADA': '002-HOMEST-8',
 'VISITA SUSPENDIDA': '002-HOMEST-9'}

In [120]:
#hoja de seguimiento
dict_hds_num = dict_std2num(type_estados()['hds_estados'])
dict_hds_cod = dict_std2cod(type_estados()['hds_estados'])
#hoja de ruta  type_estados()['hdr_estados']
dict_hdr_num = dict_std2num(type_estados()['hdr_estados'])
dict_hdr_cod = dict_std2cod(type_estados()['hdr_estados'])

In [121]:
def clean_data(ruc):
    if ruc is None:
        data = '0'
    else:
        data = ruc.replace("'","")              
    return data

clean_data("''1233334364")
#clean_data()

'1233334364'

In [126]:
def state2num(estado,dict_std2num): ##cover to 002-HOMEST-XX    
    # 1000: NO TIENE DATO, 1001: ESTA EN BLANCO EL DATO, 1002:ES UN NUEVO ESTADO
    #dict_std2num = dict_hds_num
    if estado is None:
        data = 1000
    elif estado == "":
        data = 1001
    elif estado in dict_std2num:
        data = dict_std2num[estado]
    else:
        data = 1002
        
    return data

#state2num('INICIÓ EL PROCESO',dict_hds_num)
state2num('VISITA ANULADA',dict_hdr_num)

'12'

In [129]:
def state2cod(estado,dict_std2cod):   #cover to 002-INVEST-XX
    # NO_DATA: NO TIENE DATO, BLANCO: ESTA EN BLANCO EL DATO, NEWESTADO:ES UN NUEVO ESTADO
    #dict_std2cod = dict_hds_cod
    if estado is None:
        data = 'NO_DATA'
    elif estado == "":
        data = 'BLANCO'
    elif estado in dict_std2cod:
        data = dict_std2cod[estado]
    else:
        data = 'NEWESTADO'
    return data

#state2num('INICIÓ EL PROCESO',dict_hds_cod)
state2cod('VISITA ANULADA',dict_hdr_cod)

'002-HOMEST-12'

In [138]:
data_hds_copy['NEW_ESTADO'] = data_hds_copy['Estado'].apply(state2num, args=(dict_hds_num ,))
data_hds_copy['NEW_ESTADO_ID'] = data_hds_copy['Estado'].apply(state2cod, args=(dict_hds_cod ,))
data_hds_copy

,Num_Proyecto,RUC,Proveedor,Estado,NEW_ESTADO,NEW_ESTADO_ID,NEW_RUC
0,245305,'20529063777,"""CORPORACION MINERA FRANCAR SOCIEDAD COMERCIAL...",INICIÓ EL PROCESO,8,002-INVEST-8,20529063777
1,245215,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",INICIÓ EL PROCESO,8,002-INVEST-8,20605472410
2,245306,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",NO HA DECIDIDO AÚN,1,002-INVEST-1,20605472410
3,245091,'20267540544,3 + 2 SERVICIOS S.A.,INVITACION ANULADA POR ANTIGÜEDAD,20,002-INVEST-20,20267540544
4,245215,'20100027021,45628912,NO VA A RENOVAR,22,002-INVEST-22,20100027021
...,...,...,...,...,...,...,...
5213,244915,'20211040352,QUIMICOS GOICOCHEA,OTROS,12,002-INVEST-12,20211040352
5214,245131,'20211040352,QUIMICOS GOICOCHEA S.A.C.,INICIÓ EL PROCESO,8,002-INVEST-8,20211040352
5215,244915,'20330791501,QUIMPAC,OTROS,12,002-INVEST-12,20330791501
5216,244915,'20100381894,TECNOGAS S A,INICIÓ EL PROCESO,8,002-INVEST-8,20100381894
5217,244915,'20418453177,TRUPAL S.A.,INICIÓ EL PROCESO,8,002-INVEST-8,20418453177

In [89]:
data_hds_copy['NEW_RUC'] = data_hds_copy['RUC'].apply(clean_data)
data_hds_copy

,Num_Proyecto,RUC,Proveedor,Estado,NEW_ESTADO,NEW_ESTADO_ID,NEW_RUC
0,245305,'20529063777,"""CORPORACION MINERA FRANCAR SOCIEDAD COMERCIAL...",INICIÓ EL PROCESO,8,002-INVEST-8,20529063777
1,245215,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",INICIÓ EL PROCESO,8,002-INVEST-8,20605472410
2,245306,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",NO HA DECIDIDO AÚN,1,002-INVEST-1,20605472410
3,245091,'20267540544,3 + 2 SERVICIOS S.A.,INVITACION ANULADA POR ANTIGÜEDAD,20,002-INVEST-20,20267540544
4,245215,'20100027021,45628912,NO VA A RENOVAR,22,002-INVEST-22,20100027021
...,...,...,...,...,...,...,...
5213,244915,'20211040352,QUIMICOS GOICOCHEA,OTROS,12,002-INVEST-12,20211040352
5214,245131,'20211040352,QUIMICOS GOICOCHEA S.A.C.,INICIÓ EL PROCESO,8,002-INVEST-8,20211040352
5215,244915,'20330791501,QUIMPAC,OTROS,12,002-INVEST-12,20330791501
5216,244915,'20100381894,TECNOGAS S A,INICIÓ EL PROCESO,8,002-INVEST-8,20100381894
5217,244915,'20418453177,TRUPAL S.A.,INICIÓ EL PROCESO,8,002-INVEST-8,20418453177

In [90]:
def correct_list():
    azure_dev = datain_db()
    db = create_engine_azure(azure_dev['server'],azure_dev['database'],azure_dev['username'],azure_dev['password'])
    
    list_ocmnum = pd.read_sql_query("""
        select ocmnum from hom.tbOrdenesComerciales
        where
        dotemicod = '70933'
        and ocmest <> 0
        and isnull(ocmnum,'') <> ''
        and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
    """,db)
    
    return list_ocmnum

correct_list()

     ocmnum
0    245158
1    245159
2    245160
3    245161
4    245162
..      ...
214  245403
215  245404
216  245405
217  245406
218  245407

[219 rows x 1 columns]

In [139]:
#POR ULTIMO FILTRAMOS TODOS LOS DATOS QUE LAS OIs que no usaremos
list_data = correct_list()['ocmnum'].to_list()
data_final = data_hds_copy[data_hds_copy['Num_Proyecto'].isin(list_data)]
data_final

,Num_Proyecto,RUC,Proveedor,Estado,NEW_ESTADO,NEW_ESTADO_ID,NEW_RUC
0,245305,'20529063777,"""CORPORACION MINERA FRANCAR SOCIEDAD COMERCIAL...",INICIÓ EL PROCESO,8,002-INVEST-8,20529063777
1,245215,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",INICIÓ EL PROCESO,8,002-INVEST-8,20605472410
2,245306,'20605472410,"""M&Z SOLUCIONES INDUSTRIALES S.R.L.""",NO HA DECIDIDO AÚN,1,002-INVEST-1,20605472410
4,245215,'20100027021,45628912,NO VA A RENOVAR,22,002-INVEST-22,20100027021
7,245215,'20600519388,A & A INGENIERIA PROYECTOS ELECTROMECANICOS S....,OTROS,12,002-INVEST-12,20600519388
...,...,...,...,...,...,...,...
5196,245340,'20602401406,SOLUCIONES INDUSTRIALES WINSAN S.A.C.,INICIÓ EL PROCESO,8,002-INVEST-8,20602401406
5197,245340,'MALTERÍA LIMA,SULLAIR DEL PACÍFICO S.A.C.,NO VA A PARTICIPAR,3,002-INVEST-3,MALTERÍA LIMA
5198,245340,'20554902449,TRABAJOS EN INGENIERIA METAL MECANICA S.A. - T...,INICIÓ EL PROCESO,8,002-INVEST-8,20554902449
5199,245340,'CUSCO,WELDINGCON EIRL CEL:,INVITACION ANULADA POR ANTIGÜEDAD,20,002-INVEST-20,CUSCO
5200,245340,'20601995931,Z & Z INGENIEROS S.A.C. INSTALACIONES INDUSTRI...,INICIÓ EL PROCESO,8,002-INVEST-8,20601995931

In [94]:
data_final.to_excel('C:\\Users\\edhak\\Downloads\\final_data_today_seguimiento.xlsx')

In [140]:
#AHORA PARA LIMPIAR LOS DATOS DE HOJA DE RUTA
###############################################
###############################################
df_hdr = pd.read_excel("C:\\Users\\edwin_paucar\\Downloads\\final_data_today_hdr.xls",header=0)
df_hdr.head(5)

,SubClasificacion,Ruc,Empresa,Lugar_Inspeccion,Fecha_Envio_Invitacion,Fecha_Ingreso_Al_Proceso,Fecha_Recepcion_Docs,Proyecto,Estado,Programacion_De_Visita,...,Responsable,Nombre_De_Inspector,Actividad_Homologada,Nombre_De_Contacto,Telefono_De_Contacto,Celular_De_Contacto,Email_De_Contacto,Observacion,Comentario_Cliente,Bien_O_Servicio
0,NaN,'20602170528,"""NICOLCH & VARGAS PERU S.A.C.""",NICOLCH & VARGAS PERU S.A.C. - JR. NUEVA ALTA ...,05/08/2019,05/08/2019,12/08/2019,245113-16,ENTREGADO,NaN,...,NATALY DE LA ROSA,CASCA TERAN YAHAIRA ODALIS JASMIN,Transporte terrestre de concentrado de cobre,CAROLINA RAMOS,962344391,NaN,nicolchperu@gmail.com,.,NaN,NaN
1,NaN,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA - CA...,18/07/2019,18/07/2019,25/07/2019,245110-24,ENTREGADO,NaN,...,NATALY DE LA ROSA,ALEJANDRO CHAVEZ JOSELY SUSAN,Servicio de drenaje en mina,JORGE ARELA PEREZ,959220570,NaN,gerencia@ayc.pe,.,NaN,NaN
2,NaN,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA - CA...,18/07/2019,18/07/2019,25/07/2019,245110-44,ENTREGADO,NaN,...,NATALY DE LA ROSA,ALEJANDRO CHAVEZ JOSELY SUSAN,Fabricación de estructuras metálicas,JORGE ARELA PEREZ,959220570,NaN,gerencia@ayc.pe,.,NaN,NaN
3,NaN,'20456335943,ABM ELECTRIC S.R.L.,ABM ELECTRIC S.R.L. - MZA. F LOTE. 10 ARTEMPA ...,06/02/2019,06/02/2019,21/02/2019,245109-1,ENTREGADO,NaN,...,NATALY DE LA ROSA,TINTA CHAMBI PATRICIA DEL PILAR,Reparación y mantenimiento de de motores y tra...,MILTON QUILLE CAYLLAHUI,054-447908,943994044,abmelectricsrl@abmelectric.com.pe,.,NaN,NaN
4,NaN,'20505830319,ACCUAPRODUCT S.A.C.,ACCUAPRODUCT S.A.C. - CAL.LOS TALABARTEROS NRO...,12/03/2019,12/03/2019,11/04/2019,245108-30,ENTREGADO,NaN,...,NATALY DE LA ROSA,PAEZ MAURICIO FLIDER JHONATAN,Venta de sistemas de tratamiento de aguas y ef...,"GUADALUPE DAMIÁN SIFUENTES,",NaN,992404470,ssoma.accuaproduct@hotmail.com,.,NaN,NaN

In [111]:
df_hdr_copy = df_hdr[['Ruc','Empresa','Proyecto','Estado']].copy()
df_hdr_copy.head()

,Ruc,Empresa,Proyecto,Estado
0,'20602170528,"""NICOLCH & VARGAS PERU S.A.C.""",245113-16,ENTREGADO
1,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-24,ENTREGADO
2,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-44,ENTREGADO
3,'20456335943,ABM ELECTRIC S.R.L.,245109-1,ENTREGADO
4,'20505830319,ACCUAPRODUCT S.A.C.,245108-30,ENTREGADO

In [112]:
data_ocmnum = df_hdr_copy['Proyecto'].str.split('-',expand=True)
df_hdr_copy['Num_proyecto']  = data_ocmnum[0]
df_hdr_copy['Num_oi']  = data_ocmnum[1]
df_hdr_copy

,Ruc,Empresa,Proyecto,Estado,Num_proyecto,Num_oi
0,'20602170528,"""NICOLCH & VARGAS PERU S.A.C.""",245113-16,ENTREGADO,245113,16
1,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-24,ENTREGADO,245110,24
2,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-44,ENTREGADO,245110,44
3,'20456335943,ABM ELECTRIC S.R.L.,245109-1,ENTREGADO,245109,1
4,'20505830319,ACCUAPRODUCT S.A.C.,245108-30,ENTREGADO,245108,30
...,...,...,...,...,...,...
2846,'20455729433,WORK-TMC TECNOLOGIA S.R.L.,245305-36,EVALUACION ANULADA POR ANTIGÜEDAD,245305,36
2847,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-144,ENTREGADO,245305,144
2848,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-212,ENTREGADO,245305,212
2849,'20601118620,ZEIT SOLUTIONS S.A.C.,245305-125,ENTREGADO,245305,125
2850,'20521180774,ZGROUP S.A.C.,245091-61,ENTREGADO,245091,61

In [113]:
df_hdr_copy["NEW_RUC"] = df_hdr_copy["Ruc"].apply(clean_data)
df_hdr_copy

,Ruc,Empresa,Proyecto,Estado,Num_proyecto,Num_oi,NEW_RUC
0,'20602170528,"""NICOLCH & VARGAS PERU S.A.C.""",245113-16,ENTREGADO,245113,16,20602170528
1,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-24,ENTREGADO,245110,24,20564095215
2,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-44,ENTREGADO,245110,44,20564095215
3,'20456335943,ABM ELECTRIC S.R.L.,245109-1,ENTREGADO,245109,1,20456335943
4,'20505830319,ACCUAPRODUCT S.A.C.,245108-30,ENTREGADO,245108,30,20505830319
...,...,...,...,...,...,...,...
2846,'20455729433,WORK-TMC TECNOLOGIA S.R.L.,245305-36,EVALUACION ANULADA POR ANTIGÜEDAD,245305,36,20455729433
2847,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-144,ENTREGADO,245305,144,20566548365
2848,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-212,ENTREGADO,245305,212,20566548365
2849,'20601118620,ZEIT SOLUTIONS S.A.C.,245305-125,ENTREGADO,245305,125,20601118620
2850,'20521180774,ZGROUP S.A.C.,245091-61,ENTREGADO,245091,61,20521180774

In [141]:
#hoja de seguimiento
#dict_hds_num = dict_std2num(type_estados()['hds_estados'])
#dict_hds_cod = dict_std2cod(type_estados()['hds_estados'])
#hoja de ruta  type_estados()['hdr_estados']
#dict_hdr_num = dict_std2num(type_estados()['hdr_estados'])
#dict_hdr_cod = dict_std2cod(type_estados()['hdr_estados'])

df_hdr_copy['NEW_ESTADO'] = df_hdr_copy['Estado'].apply(state2num, args=(dict_hdr_num ,))
df_hdr_copy['NEW_ESTADO_ID'] = df_hdr_copy['Estado'].apply(state2cod, args=(dict_hdr_cod ,))
df_hdr_copy

,Ruc,Empresa,Proyecto,Estado,Num_proyecto,Num_oi,NEW_RUC,NEW_ESTADO,NEW_ESTADO_ID
0,'20602170528,"""NICOLCH & VARGAS PERU S.A.C.""",245113-16,ENTREGADO,245113,16,20602170528,5,002-HOMEST-5
1,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-24,ENTREGADO,245110,24,20564095215,5,002-HOMEST-5
2,'20564095215,A&C BUSINESS CORPORATION SOCIEDAD ANONIMA,245110-44,ENTREGADO,245110,44,20564095215,5,002-HOMEST-5
3,'20456335943,ABM ELECTRIC S.R.L.,245109-1,ENTREGADO,245109,1,20456335943,5,002-HOMEST-5
4,'20505830319,ACCUAPRODUCT S.A.C.,245108-30,ENTREGADO,245108,30,20505830319,5,002-HOMEST-5
...,...,...,...,...,...,...,...,...,...
2846,'20455729433,WORK-TMC TECNOLOGIA S.R.L.,245305-36,EVALUACION ANULADA POR ANTIGÜEDAD,245305,36,20455729433,17,002-HOMEST-17
2847,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-144,ENTREGADO,245305,144,20566548365,5,002-HOMEST-5
2848,'20566548365,ZABARBURU BUSINESS GROUP S.A.C. - ZBG S.A.C,245305-212,ENTREGADO,245305,212,20566548365,5,002-HOMEST-5
2849,'20601118620,ZEIT SOLUTIONS S.A.C.,245305-125,ENTREGADO,245305,125,20601118620,5,002-HOMEST-5
2850,'20521180774,ZGROUP S.A.C.,245091-61,ENTREGADO,245091,61,20521180774,5,002-HOMEST-5

In [143]:
final_data = df_hdr_copy[df_hdr_copy['Num_proyecto'].isin(limit_list()['ocmnum'].to_list())]
final_data

NameError: name 'limit_list' is not defined

In [ ]:
df_final.to_excel('C:\\Users\\edhak\\Downloads\\final_data_today_hdr.clean.xlsx')