# Opteniendo los resulados finales

Se comparan los resultados obtenidos de los excel del qaudit con los datos que tenemos en la base de datos

In [1]:
import pandas as pd
import re
import numpy as np
import urllib
import sqlalchemy as sa

In [2]:
def datain_db():
    azure_dev = {
        'server' :'base de datos Analytics ',
        'database' :'xxxxxxxxxxxxxx',
        'username' : 'xxxxxxxxxxxxxxx',
        'password' : 'xxxxxxxxxxxxxxxxxx'
    }
    return azure_dev

def create_engine_azure(s,b,u,p):
    d='ODBC Driver 17 for SQL Server'
    connection_string = f'DRIVER={{{d}}};SERVER={s};DATABASE={b};UID={u};PWD={p};Trusted_Connection=no;UseFMTONLY=yes;'
    connection_uri = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(connection_string)}"
    #print(connection_uri)
    return sa.create_engine(connection_uri, fast_executemany=True, encoding='utf8')

In [3]:
azure_dev = datain_db()
db = create_engine_azure(azure_dev['server'],azure_dev['database'],azure_dev['username'],azure_dev['password'])

### construcción de labase del excel

In [5]:
features = ['proyecto',
            'source',
            'invitaciones_seg','provedores_ruc_seg','proveedores_name_seg','iniciaron_proceso_seg','no_participa_seg',
            'otros_estados_seg',
            'iniciaron_proceso_hdr','entregados_hdr','otros_estados_hdr','lineas_principal','linea_adicional','evaluaciones_elv','avg_puntaje_elv','informes_inf'
            ]

In [6]:
#SOURCE 
#excel
#db

In [91]:
data = pd.DataFrame(columns=features)
data

Empty DataFrame
Columns: [proyecto, source, invitaciones_seg, provedores_ruc_seg, proveedores_name_seg, iniciaron_proceso_seg, no_participa_seg, otros_estados_seg, iniciaron_proceso_hdr, entregados_hdr, otros_estados_hdr, lineas_principal, linea_adicional, evaluaciones_elv, avg_puntaje_elv, informes_inf]
Index: []

### Obtención de los datos apartir del excel (hoja de seguimineto)

In [8]:
df_excel_hds = pd.read_excel("C:\\Users\\edwin_paucar\\Downloads\\final_data_today_hds_clean.xlsx", header=0)
df_excel_hds.head()

,Unnamed: 0,Id,SubClasificacion,Num_Proyecto,Asunto,RUC,Proveedor,Contacto_Comercial,Tipo_Evaluacion,Contacto_Proceso,...,EMail,Telefono,Ciudad,Fecha_Envio_Invitacion,Estado,Observacion,Fecha_Ultimo_Seguimiento,NEW_ESTADO,NEW_ESTADO_ID,NEW_RUC
0,0,1,NaN,245160,PROCESO DE HOMOLOGACION DE TRANSPORTISTAS REDO...,'10156466200,AMARO OBISPO NICETO,NaN,NaN,CÉSAR AMARO LICETTI,...,cesaramarol@hotmail.es,NaN,LIMA - HUAURA - HUALMAY,25/04/2019,INICIÓ EL PROCESO,PRIMERA EVALUACIÓN,08/05/2019,8,002-INVEST-8,10156466200
1,1,2,NaN,245160,PROCESO DE HOMOLOGACION DE TRANSPORTISTAS REDO...,'20556216160,COMERCIALIZADORA MACHITA S.A.C.,NaN,NaN,GRACIELA GINOCCHIO TORRES,...,comercializadoramachita@gmail.com,01-7735532,LIMA - LIMA - LA MOLINA,25/04/2019,INICIÓ EL PROCESO,REEVALUACIÓN,06/08/2019,8,002-INVEST-8,20556216160
2,2,3,NaN,245160,PROCESO DE HOMOLOGACION DE TRANSPORTISTAS REDO...,'20601528437,ELEME 19 S.A.C.,NaN,NaN,LUIS SALAZAR COSSIO,...,lsalazarcoss@gmail.com,994722701,LIMA - HUAURA - HUACHO,25/04/2019,INICIÓ EL PROCESO,PRIMERA EVALUACIÓN,08/05/2019,8,002-INVEST-8,20601528437
3,3,4,NaN,245160,PROCESO DE HOMOLOGACION DE TRANSPORTISTAS REDO...,'20571104491,EMPRESA DE TRANSPORTE Y SERVICIOS MULTIPLES JJ...,NaN,NaN,"ANA JULIA RAMOS CADENAS,",...,asistente_jjehijos@hotmail.com,NaN,LIMA - HUAURA - VEGUETA,25/04/2019,INICIÓ EL PROCESO,PRIMERA EVALUACIÓN,25/04/2019,8,002-INVEST-8,20571104491
4,4,5,NaN,245160,PROCESO DE HOMOLOGACION DE TRANSPORTISTAS REDO...,'20445810437,EMPRESA DE TRANSPORTES PUSMI S.R.L,NaN,NaN,ZACARIAS INGA ARQUINIO,...,pusmiaz@hotmail.com,NaN,LIMA - HUAURA - VEGUETA,29/04/2019,INICIÓ EL PROCESO,PRIMERA EVALUACIÓN,29/04/2019,8,002-INVEST-8,20445810437

In [11]:
df_excel_hdr = pd.read_excel("C:\\Users\\edwin_paucar\\Downloads\\final_data_today_hdr_clean.xlsx", header=0)
df_excel_hdr.head()

,Unnamed: 0,SubClasificacion,Ruc,Empresa,Lugar_Inspeccion,Fecha_Envio_Invitacion,Fecha_Ingreso_Al_Proceso,Fecha_Recepcion_Docs,Proyecto,Estado,...,Email_De_Contacto,Observacion,Comentario_Cliente,Bien_O_Servicio,Referencia,Num_proyecto,Num_oi,NEW_RUC,NEW_ESTADO,NEW_ESTADO_ID
0,0,NaN,'10156466200,AMARO OBISPO NICETO,AMARO OBISPO NICETO - JR. SAN MARTIN NRO. 234 ...,08/05/2019,08/05/2019,17/05/2019,245160-13,ENTREGADO,...,cesaramarol@hotmail.es,.,NaN,NaN,NaN,245160,13,10156466200,5,002-HOMEST-5
1,1,NaN,'20601528437,ELEME 19 S.A.C.,ELEME 19 S.A.C. - PRO.GRAU NRO. 192A LIMA - HU...,08/05/2019,08/05/2019,20/08/2019,245160-14,ENTREGADO,...,lsalazarcoss@gmail.com,.,NaN,NaN,NaN,245160,14,20601528437,5,002-HOMEST-5
2,2,NaN,'20571104491,EMPRESA DE TRANSPORTE Y SERVICIOS MULTIPLES JJ...,EMPRESA DE TRANSPORTE Y SERVICIOS MULTIPLES JJ...,25/04/2019,25/04/2019,17/05/2019,245160-4,ENTREGADO,...,asistente_jjehijos@hotmail.com,.,NaN,NaN,NaN,245160,4,20571104491,5,002-HOMEST-5
3,3,NaN,'20445810437,EMPRESA DE TRANSPORTES PUSMI S.R.L,EMPRESA DE TRANSPORTES PUSMI S.R.L - MZA. E LO...,29/04/2019,29/04/2019,06/05/2019,245160-20,ENTREGADO,...,pusmiaz@hotmail.com,.,NaN,NaN,NaN,245160,20,20445810437,5,002-HOMEST-5
4,4,NaN,'20602316891,GRUPO BAYCES S.A.C.,GRUPO BAYCES S.A.C. - MZA. E LOTE. 1 URB. ALEJ...,02/05/2019,02/05/2019,07/05/2019,245160-9,ENTREGADO,...,grupobayces@gmail.com,.,NaN,NaN,NaN,245160,9,20602316891,5,002-HOMEST-5

In [13]:
#todos los proyectos
columns_selected_seg = ['Num_Proyecto','Proveedor','NEW_RUC','Estado','NEW_ESTADO','NEW_ESTADO_ID','Fecha_Ultimo_Seguimiento']
df_excel_hds_cp = df_excel_hds[columns_selected_seg].copy()
df_excel_hds_cp.head()

,Num_Proyecto,Proveedor,NEW_RUC,Estado,NEW_ESTADO,NEW_ESTADO_ID,Fecha_Ultimo_Seguimiento
0,245160,AMARO OBISPO NICETO,10156466200,INICIÓ EL PROCESO,8,002-INVEST-8,08/05/2019
1,245160,COMERCIALIZADORA MACHITA S.A.C.,20556216160,INICIÓ EL PROCESO,8,002-INVEST-8,06/08/2019
2,245160,ELEME 19 S.A.C.,20601528437,INICIÓ EL PROCESO,8,002-INVEST-8,08/05/2019
3,245160,EMPRESA DE TRANSPORTE Y SERVICIOS MULTIPLES JJ...,20571104491,INICIÓ EL PROCESO,8,002-INVEST-8,25/04/2019
4,245160,EMPRESA DE TRANSPORTES PUSMI S.R.L,20445810437,INICIÓ EL PROCESO,8,002-INVEST-8,29/04/2019

In [14]:
columns_selected_hdr = ['Num_proyecto','Proyecto','Num_oi','Empresa','NEW_RUC','NEW_ESTADO','Tipo_Evaluacion','Estado','Fecha_De_Entrega','NEW_ESTADO_ID','Puntaje']
df_excel_hdr_cp = df_excel_hdr[columns_selected_hdr].copy()
df_excel_hdr_cp.head()

,Num_proyecto,Proyecto,Num_oi,Empresa,NEW_RUC,NEW_ESTADO,Tipo_Evaluacion,Estado,Fecha_De_Entrega,NEW_ESTADO_ID,Puntaje
0,245160,245160-13,13,AMARO OBISPO NICETO,10156466200,5,PRIMERA EVALUACIÓN,ENTREGADO,02/07/2019,002-HOMEST-5,100.00
1,245160,245160-14,14,ELEME 19 S.A.C.,20601528437,5,PRIMERA EVALUACIÓN,ENTREGADO,12/09/2019,002-HOMEST-5,37.74
2,245160,245160-4,4,EMPRESA DE TRANSPORTE Y SERVICIOS MULTIPLES JJ...,20571104491,5,PRIMERA EVALUACIÓN,ENTREGADO,25/06/2019,002-HOMEST-5,88.89
3,245160,245160-20,20,EMPRESA DE TRANSPORTES PUSMI S.R.L,20445810437,5,RECALIFICACIÓN,ENTREGADO,23/06/2019,002-HOMEST-5,98.11
4,245160,245160-9,9,GRUPO BAYCES S.A.C.,20602316891,5,PRIMERA EVALUACIÓN,ENTREGADO,26/06/2019,002-HOMEST-5,75.47

In [15]:
#datos para la HOJA DE RUTA
df_excel_single_hdr = df_excel_hdr_cp[df_excel_hdr_cp['Num_proyecto'] == 245169]
df_excel_single_hdr.head()

,Num_proyecto,Proyecto,Num_oi,Empresa,NEW_RUC,NEW_ESTADO,Tipo_Evaluacion,Estado,Fecha_De_Entrega,NEW_ESTADO_ID,Puntaje
2255,245169,245169-14,14,ACTIVIDADES ELECTROMECANICAS INDUSTRIALE S S.R.L.,20100072590,5,PRIMERA EVALUACIÓN,ENTREGADO,22/12/2019,002-HOMEST-5,92.58
2256,245169,245169-8,8,BOSCH REXROTH S.A.C.,20602078672,5,PRIMERA EVALUACIÓN,ENTREGADO,21/10/2019,002-HOMEST-5,95.02
2257,245169,245169-15,15,CANA DYNE EQUIPMENT AND SERVICES SA.,20306797256,5,PRIMERA EVALUACIÓN,ENTREGADO,24/12/2019,002-HOMEST-5,98.01
2258,245169,245169-11,11,FABRICACIONES GENERALES MANTENIMIENTO Y SERVIC...,20311992393,5,PRIMERA EVALUACIÓN,ENTREGADO,15/11/2019,002-HOMEST-5,73.28
2259,245169,245169-4,4,FAMAI SEAL JET S.A.C.,20134690080,5,PRIMERA EVALUACIÓN,ENTREGADO,07/08/2019,002-HOMEST-5,95.33

In [32]:
#excel hdr para 245169
prueba_hdr = df_excel_hdr_cp[df_excel_hdr_cp['Proyecto'].str.contains('245169')]
prueba_hdr.head()

,Num_proyecto,Proyecto,Num_oi,Empresa,NEW_RUC,NEW_ESTADO,Tipo_Evaluacion,Estado,Fecha_De_Entrega,NEW_ESTADO_ID,Puntaje
2255,245169,245169-14,14,ACTIVIDADES ELECTROMECANICAS INDUSTRIALE S S.R.L.,20100072590,5,PRIMERA EVALUACIÓN,ENTREGADO,22/12/2019,002-HOMEST-5,92.58
2256,245169,245169-8,8,BOSCH REXROTH S.A.C.,20602078672,5,PRIMERA EVALUACIÓN,ENTREGADO,21/10/2019,002-HOMEST-5,95.02
2257,245169,245169-15,15,CANA DYNE EQUIPMENT AND SERVICES SA.,20306797256,5,PRIMERA EVALUACIÓN,ENTREGADO,24/12/2019,002-HOMEST-5,98.01
2258,245169,245169-11,11,FABRICACIONES GENERALES MANTENIMIENTO Y SERVIC...,20311992393,5,PRIMERA EVALUACIÓN,ENTREGADO,15/11/2019,002-HOMEST-5,73.28
2259,245169,245169-4,4,FAMAI SEAL JET S.A.C.,20134690080,5,PRIMERA EVALUACIÓN,ENTREGADO,07/08/2019,002-HOMEST-5,95.33

In [17]:
#excel seguimiento para 245169
df_excel_single = df_excel_hds_cp[df_excel_hds_cp['Num_Proyecto'] == 245169]
df_excel_single.head()

,Num_Proyecto,Proveedor,NEW_RUC,Estado,NEW_ESTADO,NEW_ESTADO_ID,Fecha_Ultimo_Seguimiento
4320,245169,ABB S.A.,20100022142,OTROS,12,002-INVEST-12,22/10/2019
4321,245169,ACTIVIDADES ELECTROMECANICAS INDUSTRIALE S S.R.L.,20100072590,INICIÓ EL PROCESO,8,002-INVEST-8,24/10/2019
4322,245169,BOSCH REXROTH S.A.C.,20602078672,INICIÓ EL PROCESO,8,002-INVEST-8,01/08/2019
4323,245169,CANA DYNE EQUIPMENT AND SERVICES SA.,20306797256,INICIÓ EL PROCESO,8,002-INVEST-8,06/11/2019
4324,245169,COMPAIR SERVICE PERU SAC,20498611681,OTROS,12,002-INVEST-12,05/06/2019

In [76]:
#dict_data['proyecto'] = 245169
def get_excelinfo_seg(df_excel_hds,ol):
    dict_data = {
        'proyecto':ol,
        'source':'excel',
        'invitaciones_seg':0,
        'provedores_ruc_seg':0,
        'proveedores_name_seg':0,
        'iniciaron_proceso_seg':0,
        'no_participa_seg':0,
        'otros_estados_seg':0,
        
        }
    #dict_data['source'] = 'excel'
    dict_data['invitaciones_seg'] = df_excel_hds.shape[0]
    dict_data['provedores_ruc_seg'] = len(df_excel_hds.groupby(df_excel_hds['NEW_RUC'].to_list()).size())
    dict_data['proveedores_name_seg'] = len(df_excel_hds.groupby(df_excel_hds['Proveedor'].to_list()).size())
    
    estados_count = df_excel_hds.groupby(df_excel_hds['NEW_ESTADO'].to_list()).size()
    
    dict_data['iniciaron_proceso_seg'] = estados_count[8] #estado 8 es 'INICIÓ EL PROCESO' 
    dict_data['no_participa_seg'] = estados_count[3] #estado 8 es 'NO VA A PARTICIPAR'
    
    estados_restantes_count = dict_data['invitaciones_seg'] - (dict_data['iniciaron_proceso_seg'] + dict_data['no_participa_seg'])
    dict_data['otros_estados_seg'] = estados_restantes_count
    return dict_data

get_excelinfo_seg(df_excel_single,'245169')

{'proyecto': '245169',
 'source': 'excel',
 'invitaciones_seg': 40,
 'provedores_ruc_seg': 40,
 'proveedores_name_seg': 40,
 'iniciaron_proceso_seg': 14,
 'no_participa_seg': 1,
 'otros_estados_seg': 25}

In [93]:
def get_excelinfo_hdr(df_excel_hdr):
    dict_dat = {
        'iniciaron_proceso_hdr':0,
        'entregados_hdr':0,
        'otros_estados_hdr':0,
         'linea_adicional': 0,
         'lineas_principal': 0,
        'evaluaciones_elv':0,
        'avg_puntaje_elv':0,
        'informes_inf':0
    }
    
    dict_dat['iniciaron_proceso_hdr'] = df_excel_hdr.shape[0]
    count_estados = prueba_hdr.groupby(prueba_hdr['NEW_ESTADO'].to_list()).size()
    dict_dat['entregados_hdr'] = count_estados[5] # 5 es el estado de estregado
    dict_dat['otros_estados_hdr'] = dict_dat['iniciaron_proceso_hdr'] - dict_dat['entregados_hdr']
    #'lineas_principal','linea_adicional'
    dict_dat['linea_adicional'] = prueba_hdr[(prueba_hdr['NEW_ESTADO'] == 5) & (prueba_hdr['Tipo_Evaluacion'] == 'LINEA ADICIONAL')]['NEW_ESTADO'].count()
    dict_dat['lineas_principal'] = dict_dat['entregados_hdr'] - dict_dat['linea_adicional']
    dict_dat['evaluaciones_elv'] = count_estados[5] # 5 es el estado también es la cantidad de evaluaciones
    dict_dat['avg_puntaje_elv'] = int(prueba_hdr[prueba_hdr['NEW_ESTADO'] == 5]['Puntaje'].mean())  #solo cogemos el entero
    dict_dat['informes_inf'] = count_estados[5] # 5 es el estado también es la cantidad de evaluaciones
    
    return dict_dat

get_excelinfo_hdr(prueba_hdr)

{'iniciaron_proceso_hdr': 17,
 'entregados_hdr': 13,
 'otros_estados_hdr': 4,
 'linea_adicional': 0,
 'lineas_principal': 13,
 'evaluaciones_elv': 13,
 'avg_puntaje_elv': 91,
 'informes_inf': 13}

In [94]:
def get_excel_info(df_excel_hds, df_excel_hdr, ol):
    #get_excelinfo_seg(df_excel_hds, ol)
    #get_excelinfo_hdr(df_excel_hdr)
    return {**get_excelinfo_seg(df_excel_hds,ol),**get_excelinfo_hdr(df_excel_hdr)}

get_excel_info(df_excel_single,prueba_hdr,'245169')

{'proyecto': '245169',
 'source': 'excel',
 'invitaciones_seg': 40,
 'provedores_ruc_seg': 40,
 'proveedores_name_seg': 40,
 'iniciaron_proceso_seg': 14,
 'no_participa_seg': 1,
 'otros_estados_seg': 25,
 'iniciaron_proceso_hdr': 17,
 'entregados_hdr': 13,
 'otros_estados_hdr': 4,
 'linea_adicional': 0,
 'lineas_principal': 13,
 'evaluaciones_elv': 13,
 'avg_puntaje_elv': 91,
 'informes_inf': 13}

In [86]:
def get_data_db():
    query_seg = """
            select ocmnum, ciaidenuminv, ciades, maedetcod, maedetdes from hom.TbUltimoSeguimiento
            where ocmnum in (
                select ocmnum from hom.tbOrdenesComerciales
                where
                dotemicod = '70933'
                and ocmest <> 0
                and isnull(ocmnum,'') <> ''
                and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
            )
        """
    df_db_seg = pd.read_sql_query(query_seg,db) 
    #data_seg.head()
    
    query_hdr = """
            select ocmnum, oinnum,oinref,ciaidenum_mandante, ciaidenum_proveedor, maecabestcod,maecabtipcod  from hom.TbOrdenesInspeccion
            where ocmnum in (
                    select ocmnum from hom.tbOrdenesComerciales
                    where
                    dotemicod = '70933'
                    and ocmest <> 0
                    and isnull(ocmnum,'') <> ''
                    and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
                )
        """
    df_db_hdr = pd.read_sql_query(query_hdr,db) 
    
    query_evl = """
        select ocmnum,isnull(avg(evlpje),0) as puntaje ,count(ciacod) as num_eval from hom.TbEvaluaciones
        where ocmnum in (
                select ocmnum from hom.tbOrdenesComerciales
                where
                dotemicod = '70933'
                and ocmest <> 0
                and isnull(ocmnum,'') <> ''
                and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
        )
        group by ocmnum
        """
    df_db_evl = pd.read_sql_query(query_evl,db) 
    
    query_inf = """
        select ocmnum,count(distinct(evlcod)) as num_inf from hom.TbInformes
        where ocmnum in (
                select ocmnum from hom.tbOrdenesComerciales
                where
                dotemicod = '70933'
                and ocmest <> 0
                and isnull(ocmnum,'') <> ''
                and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
        )
        group by ocmnum
        """
    #df_db_inf = pd.read_sql_query(query_inf,db) 

    return {'df_db_seg':df_db_seg, 'df_db_hdr':df_db_hdr, 'df_db_evl':df_db_evl}

#get_data_db()

In [88]:
data_seg1 = get_data_db()['df_db_seg']
data_db_seg = data_seg1[data_seg1['ocmnum'] == 245169]
#data_hdr1
data_seg1 = get_data_db()['df_db_hdr']
data_db_hdr = data_seg1[data_seg1['ocmnum'] == 245169]
#data_evl1 = 
data_seg1= get_data_db()['df_db_evl']
data_db_evl = data_seg1[data_seg1['ocmnum'] == 245169]

In [89]:
query_inf = """
    select ocmnum,count(distinct(evlcod)) as num_inf from hom.TbInformes
    where ocmnum in (
            select ocmnum from hom.tbOrdenesComerciales
            where
            dotemicod = '70933'
            and ocmest <> 0
            and isnull(ocmnum,'') <> ''
            and ocmfehcre >= convert(date,dateadd(year,-3,getdate()))
    )
    group by ocmnum
    """
df_db_inf = pd.read_sql_query(query_inf,db) 
#data_inf1 
#data_seg1 = get_data_db()['df_db_inf']
data_db_inf = df_db_inf[df_db_inf['ocmnum'] == 245169]

In [66]:
def get_db_info(df_db_seg,df_db_hdr,df_db_evl,ol):
    data_dic = {'proyecto':ol,
                'source': 'db',
                 'invitaciones_seg': 0,
                 'provedores_ruc_seg': 0,
                 'proveedores_name_seg': 0,
                 'iniciaron_proceso_seg': 0,
                 'no_participa_seg': 0,
                 'otros_estados_seg': 0,    #-----------------------
                
                 'iniciaron_proceso_hdr': 0,
                 'entregados_hdr': 0,
                 'otros_estados_hdr': 0,
                'linea_adicional': 0,
                 'lineas_principal': 0,
                 'evaluaciones_elv': 0,
                 'avg_puntaje_elv': 0,
                 'informes_inf': 0
               }
    data_dic['invitaciones_seg'] = df_db_seg.shape[0]
    data_dic['provedores_ruc_seg'] = data_db_seg['ciades'].count()
    data_dic['proveedores_name_seg'] = data_db_seg['ciaidenuminv'].count()
    
    data_seg =  data_db_seg.groupby(data_db_seg['maedetcod'].to_list()).size()
    try:
        data_dic['iniciaron_proceso_seg'] = data_seg[8]
    except IndexError:
        data_dic['iniciaron_proceso_seg'] = 0
        
    try:
        data_dic['no_participa_seg'] = data_seg[3]
    except IndexError:
        data_dic['no_participa_seg'] = 0
    
    data_dic['otros_estados_seg'] = data_dic['invitaciones_seg'] - data_dic['iniciaron_proceso_seg']
    
    data_dic['iniciaron_proceso_hdr'] = data_db_hdr.shape[0]
    data_dic['entregados_hdr'] = data_db_hdr[data_db_hdr['maecabestcod'] == '002-HOMEST-5']['ciaidenum_mandante'].count()
    data_dic['otros_estados_hdr'] =  data_dic['iniciaron_proceso_hdr'] - data_dic['entregados_hdr']
    data_dic['linea_adicional'] = data_db_hdr[data_db_hdr['maecabtipcod'] == '002-HOMTIP-7']['ciaidenum_mandante'].count()
    data_dic['lineas_principal'] = data_dic['entregados_hdr'] - data_dic['linea_adicional']
    
    try:
        data_dic['evaluaciones_elv'] = data_db_evl['num_eval'].to_list()[0]
    except:
        data_dic['evaluaciones_elv'] = 0
        
    data_dic['avg_puntaje_elv'] = int(data_db_evl['puntaje'].to_list()[0])
    
    data_dic['informes_inf'] = 0
    
    
    return data_dic

get_db_info(data_db_seg,data_db_hdr,data_db_evl,'245169')

{'proyecto': '245169',
 'source': 'db',
 'invitaciones_seg': 40,
 'provedores_ruc_seg': 40,
 'proveedores_name_seg': 40,
 'iniciaron_proceso_seg': 0,
 'no_participa_seg': 8,
 'otros_estados_seg': 40,
 'iniciaron_proceso_hdr': 17,
 'entregados_hdr': 13,
 'otros_estados_hdr': 4,
 'linea_adicional': 2,
 'lineas_principal': 11,
 'evaluaciones_elv': 13,
 'avg_puntaje_elv': 91,
 'informes_inf': 0}

In [101]:
#insertando en un dataframe y luego colocarlo en un excel
#datap = pd.DataFrame(get_db_info(data_db_seg,data_db_hdr,data_db_evl,'245169'), index=[3])
#data = pd.concat([data,datap], ignore_index = True)
data

,proyecto,source,invitaciones_seg,provedores_ruc_seg,proveedores_name_seg,iniciaron_proceso_seg,no_participa_seg,otros_estados_seg,iniciaron_proceso_hdr,entregados_hdr,otros_estados_hdr,lineas_principal,linea_adicional,evaluaciones_elv,avg_puntaje_elv,informes_inf
0,245169,db,40,40,40,0,8,40,17,13,4,11,2,13,91,0
1,245169,excel,40,40,40,14,1,25,17,13,4,13,0,13,91,13

In [99]:
data = data.append(get_db_info(data_db_seg,data_db_hdr,data_db_evl,'245169'), ignore_index = True)
data = data.append(get_excel_info(df_excel_single,prueba_hdr,'245169'),ignore_index = True )

In [100]:
data

,proyecto,source,invitaciones_seg,provedores_ruc_seg,proveedores_name_seg,iniciaron_proceso_seg,no_participa_seg,otros_estados_seg,iniciaron_proceso_hdr,entregados_hdr,otros_estados_hdr,lineas_principal,linea_adicional,evaluaciones_elv,avg_puntaje_elv,informes_inf
0,245169,db,40,40,40,0,8,40,17,13,4,11,2,13,91,0
1,245169,excel,40,40,40,14,1,25,17,13,4,13,0,13,91,13